:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #a28268;
    --color-brand-dark: #465929;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc
}
/*Global Styles*/
 body {
    color: var(--color-prim-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
 }

ul {
    list-style-type: none;
}

/*Button Styles*/
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
        border: 2px solid var(--color-brand-normal);
        border-radius: 8px;
        cursor: pointer
    }
    

.button:hover {
    color: #465929;
    background-color: transparent;
    border: 2px solid #465929;
}

.button:active {
    color: crimson;
}
/*Link Styles*/
.link {
    color: #fafafa

}

.link:hover {
    color: var(--color-brand)
}

/* Hero */
.hero-title {
    color: #FAF4EA ;
    text-align: center;
    font-size: 128px;
    font-weight: 900;

}

.hero-title .accent {
  color: rgb(129, 155, 87);
}

.advantages-list {
    color: #FAF4EA
    background-color: var(--color-brand);
}

/* Sections */
.section-title {
    color: #31261A
}

.section-title .accent {
    color: var(--color-brand);
}
/* Traditions */

.traditions-text {
white-space: nowrap; 
}


.traditions-text .brand{
    color: var(--color-brand);

 
}

.traditions-text .uppercase {
color: var(--color-brand);
text-transform: uppercase;

}
