*, 
::after,
::before
{
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
  
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');

}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
 
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');

}

/* Font Colors */
:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #a28268;
    --color-brand-dark: #465929;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc;
   --color-shadow-dark: #A18268;
}
/*Global Styles*/
 html, body {
    color: var(--color-prim-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FAF4EA;
  
 }

 h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
 }

 a {
    display: inline-block;
 }

/* Header */

.header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding-top: 32px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1288px;
        padding: 24px;
margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;


}

.header-menu {
    display: flex;
    align-items: center;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

 address {
    font-style: normal;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
        margin: 0 auto;
            padding: 0 24px;

}

/*Button Styles*/
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
        border: 2px solid var(--color-brand-normal);
        border-radius: 8px;
        cursor: pointer;
        font-weight: 600;
       font-size: 18px;
        transition: background-color 0.3s, color .3s;
    }
   

.button:hover {
    background-color: var(--color-primary-light);
       border: 2px solid var(--color-brand-dark);
        color: var(--color-brand-dark);
}

.button:active {
    color: crimson;
}


/* .button:disabled {
    background-color: grey;
    color: gainsboro;
    border-color: currentColor;
    cursor: not-allowed;
} */

/*Link Styles*/

.link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
  

}

.link:hover {
    color: var(--color-brand-normal);
    
}


/* Hero */
.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%),
    url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
 
}
.hero-title {
        margin-bottom: 0;
        color: var(--color-primary-light) ;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    margin-bottom: 0;

}

.hero-title .accent {
  color: var(--color-brand-normal);
}


/* Sections */

.section-title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900 ;
    line-height: 1.3;

}

.section-title.centered {
    text-align: center;
}

.section-title.accent {
    color: var(--color-brand-dark);
}



/* Traditions */

.traditions-section {
    padding-top: 96px;
}

.traditions-container {
display: flex;
justify-content: space-between;
gap: 40px;

}

.traditions-content {
    max-width: 710;
}


.traditions-title {
    margin-bottom: 42px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
}

.traditions-text.limited {
    max-width: 330px;
}

.traditions-text .uppercase {
color: var(--color-brand-normal);
text-transform: uppercase;
}

.traditions-image {
    width: 393;
        height: 466;
        top: 894px;
        left: 912px;
        angle: 0 deg;
        opacity: 1;
        border-top-left-radius: 400px;
        border-top-right-radius: 400px;
}


/* Advantages */

.advantages-list {
    display: flex;
    background-color: var(--color-brand-normal);
    justify-content: space-between;
    gap: 40px;
    padding: 16px;

}

.advantages-section {
background-color: var(--color-brand-normal);
    width: 100%;
    padding: 16px 0;
    /* display: flex;
   padding: 16px; */
}

.advantages-section .container {
    margin: 0 auto;
    max-width: 1288px;
    padding: 0 24px;
}

.advantages-item {
color: var(--color-primary-light);
font-size: 20px;    
font-weight: 300;
}


/* Chefs Section */

.chefs-title {
position: relative;
margin: 0 auto 80px;

}

.chefs-title::before,
.chefs-title::after {
    position: absolute;
    bottom: 24px;
    display: block;

    width: 352px;
    border: 2px solid var(--color-brand-normal);
    content: '';
}


.chefs-title::before {
left: 0;

}

.chefs-title::after {
 right: 0;

}


.chefs-title .accent {
    display: block;
    color: var(--color-brand-dark);
}

.chefs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;


}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
    display: flex;
    gap: 30px;

}

.chefs-image {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-shadow-dark);

}

.chefs-text p {
   margin-bottom: 24px; 
}

.chefs-text p:last-child {
    margin-bottom: 0;
}


/* Formats */

.format-title {
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: 600;
}

.formats-container {
    display: flex;
    gap: 32px;
      align-items: center;

}

.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
}

.format-text {
        font-size: 14px;
        font-weight: 300;
}

.format-card {
    height: 444px;
    padding: 24px;
       background-image: linear-gradient(
        180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100% );
             border-radius: 16px;
        transition: transform 0.3s;

    }

.format-card:hover {
    transform: scale(1.05);
}



.formats-item {
    flex-basis: calc((100% - 40px) / 3) ;
}


/* Carousel */

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    border-radius: 50%;
    background-color: transparent;
    border-color: var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
}

/* .carousel-arrow {
    fill: var(--color-primary-dark);
} */

.carousel-button:hover {

    background-color: var(--color-primary-dark);
fill: var(--color-primary-light);
}


.carousel-button.next {
    transform: rotate(180deg);

}


/* Contacts */

.contacts-section {
    padding-bottom: 96px;
}

.contacts-title {
    margin-bottom: 16px;
}

.contacts-container {
    display: flex;
    gap: 32px;
}

.contacts-map {
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
}

/* Footer */

.footer {
    position: relative;
    background-image: url(../images/black-bg.png);
    background-color: var(--color-primary-dark);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 32px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}


footer::before,
footer::after {
position: absolute;
    bottom: 0;
        background-repeat: no-repeat;
            content: '';
}



footer::before {
  left: 0;
    width: 180px;
    height: 120px;
    background-image: url(../images/bread1.png);


}

footer::after {
                    right: 0;
            width: 380px;
            height: 190px;
            background-image: url(../images/bread2.png);
}


.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
}


.footer-logo,
.footer-menu {
        flex-grow: 1;
}


.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright {
    font-size: 14px;
    color: var(--color-primary-light);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-logos {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}


/* Modal Window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;

}


.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}


/* Form */

.form-field {
    margin-bottom: 32px;
}

.form-label {
   position: absolute;
   top: 16px;
   left: 42px;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
        font-size: 16px;
            line-height: 1.17;
}

.form-input:focus {
    border: 1px solid var(--color-brand-normal);
    outline: none;
}

/* 
.form-input:required {
    border-color: red;
} */

/* .form-input:placeholder-shown {
 background-color:rgb(193, 193, 240) ;
} */

.form-input:disabled {
    border-color: lightgrey;
    cursor:not-allowed
    
}

.form-input:disabled::placeholder {
    color: lightgrey

}

.form-input::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
    
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.form-button {
    display: block;
    margin: 0 auto 24px;

}

.form-terms {
    margin: 0 auto;
    max-width: 220px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
}

.modal-header{
    margin-bottom: 48px;
    text-align: center;
}

.modal-text {
    color: var(--color-brand-dark);
}

/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before
{
 background-color: green;
}

.checkbox-label {
   padding-left: 24px; 
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px; 
    height: 16px;
    margin-top: 5px;
    border: 1px solid #31261a;
    border-radius: 2px;
    content: '';
   
} */
