
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';
@import './utils/texts';

@import './layouts/header';
@import './components/buttons';
@import './components/links';
@import './layouts/hero';

@import './components/sections';
@import './layouts/traditions-section';
@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/formats-section';
@import './components/formats-card';
@import './layouts/contacts-section';
@import './layouts/footer';
@import './layouts/modal';
@import './components/form';

@import './utils/mixins';

@import './layouts/container';


