// ---------------------------
// Utils (змінні, міксіни, утиліти, шрифти)
// ---------------------------
@import "utils/fonts";
@import "utils/variables";
@import "base";
@import "utils/texts";
@import "utils/utils";

// ---------------------------
// Components (кнопки, інпути, карточки та інше дрібне UI)
// ---------------------------
@import "components/buttons";
@import "components/carousel-button";
@import "components/chef-card";
@import "components/format-card";
@import "components/input";
@import "components/links";
@import "components/pagination";

// ---------------------------
// Layouts / Sections (великі секції сторінки)
// ---------------------------
@import "layouts/advantages-section";
@import "layouts/chefs-section";
@import "layouts/contacts-section";
@import "layouts/container";
@import "layouts/footer";
@import "layouts/form-terms";
@import "layouts/formats-section";
@import "layouts/header";
@import "layouts/hero-section";
@import "layouts/mobile-menu";
@import "layouts/modal";
@import "layouts/section";
@import "layouts/traditions-section";

