.texts-brand {
        color: var(--color-brand-normal);
}

.texts-brand-dark {
color: var(--color-brand-dark);
}


.text-bold {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}