.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.3s, color .3s;
}


.button:hover {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-brand-dark);
    color: var(--color-brand-dark);
}

.button:active {
    color: crimson;
}


/* .button:disabled {
    background-color: grey;
    color: gainsboro;
    border-color: currentColor;
    cursor: not-allowed;
} */