/* Carousel */

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    border-radius: 50%;
    background-color: transparent;
    border-color: var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
}

/* .carousel-arrow {
    fill: var(--color-primary-dark);
} */

.carousel-button:hover {

    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}


.carousel-button.next {
    transform: rotate(180deg);

}