.chefs-card {
    display: flex;
    gap: 30px;

&__image {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-shadow-dark);
}

&__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

&__text {
    margin-bottom: 24px;

&:last-child {
        margin-bottom: 0;
    }

}

}