.chefs-card {
    display: flex;
    align-items: flex-start;
    gap: 16px;


    &__image {
        width: 140px;
        border-radius: 2px 2px 2px 116px;
        box-shadow: -8px 8px 0 0 var(--color-primary-light),
            -8px 8px 0 2px var(--color-secondary-dark);

    }

    &__title {
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 600;

    }

    &__text {
        font-size: 14px;
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }

    }
}