.contacts-section {
    padding-bottom: 96px;
}

.contacts-title {
    margin-bottom: 16px;
}

.contacts-container {
    display: flex;
    gap: 32px;
}

.contacts-map {
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
}