.footer {
    position: relative;
    background-image: url(../images/black-bg.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}


footer::before,
footer::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
}

footer::before {
    left: 0;
    width: 180px;
    height: 120px;
    background-image: url(../images/bread1.png);

}

footer::after {
    right: 0;
    width: 380px;
    height: 190px;
    background-image: url(../images/bread2.png);
}


.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
}


.footer-logo,
.footer-menu {
    flex-grow: 1;
}


.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copyright {
    font-size: 14px;
    color: var(--color-primary-light);
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-logos {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}