.form-terms {
    margin: 0 auto;
    max-width: 220px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    z-index: 1;

    &__link {
        color: var(--color-primary-dark);
        text-underline-offset: 2px;
    }

}