.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;

}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1288px;
    padding: 24px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;


}

.header-menu {
    display: flex;
    align-items: center;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}