.input {
    margin-bottom: 32px;

    &__label {
        position: absolute;
        top: 16px;
        left: 42px;
    }

    &__control {
        padding: 16px 42px;
        width: 100%;
        border: 1px solid var(--color-secondary-dark);
        border-radius: 8px;
        background-color: transparent;
        font-size: 16px;
        line-height: 1.17;

        &:focus {
            border: 1px solid var(--color-brand-normal);
            outline: none;
        }

        &::placeholder {
            color: lightgrey
        }

        &:focus::placeholder {
            color: var(--color-primary-dark);
        }

        }

}

/* 
.form-input:required {
    border-color: red;
} */