.traditions-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.traditions-content {
    max-width: 710;
}


.traditions-title {
    margin-bottom: 42px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
}

.traditions-text.limited {
    max-width: 330px;
}

.traditions-text .uppercase {
    color: var(--color-brand-normal);
    text-transform: uppercase;
}

.traditions-image {
    width: 393;
    height: 466;
    top: 894px;
    left: 912px;
    angle: 0 deg;
    opacity: 1;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
}