

.advantages-section {
    background-color: var(--color-brand-normal);
    width: 100%;
    padding: 16px 0;
    
&__list {
        display: flex;
        background-color: var(--color-brand-normal);
        justify-content: space-between;
        gap: 40px;
        padding: 16px;

    }

&__item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}
 

}

// .advantages-section .container {
//     margin: 0 auto;
//     max-width: 1288px;
//     padding: 0 24px;
// }

