.chefs-section {
    
    &__title {
    position: relative;
    margin: 0 auto 80px;


}
}

.chefs-section__title.accent {
    display: block;
    color: var(--color-brand-dark);
}



.chefs-title::before,
.chefs-title::after {
    position: absolute;
    bottom: 24px;
    display: block;

    width: 352px;
    border: 2px solid var(--color-brand-normal);
    content: '';
}


.chefs-title::before {
    left: 0;

}

.chefs-title::after {
    right: 0;

}


.chefs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;


}

.chefs-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chefs-card {
    display: flex;
    gap: 30px;

}

.chefs-image {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-shadow-dark);

}

.chefs-text p {
    margin-bottom: 24px;
}

.chefs-text p:last-child {
    margin-bottom: 0;
}