.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(-100%);

&.is-open {
    transform: translateX(0);
}

}