.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    transition: opacity .3s, visibility .3s;

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;

}


.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.modal-header {
    margin-bottom: 48px;
    text-align: center;
}

.modal-text {
    color: var(--color-brand-dark);
}

/* .checkbox {
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before
{
 background-color: green;
}

.checkbox-label {
   padding-left: 24px; 
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px; 
    height: 16px;
    margin-top: 5px;
    border: 1px solid #31261a;
    border-radius: 2px;
    content: '';
   
} */